body{
	background-color: black;
	color: #E0E0E0;
    margin: 0px;
    font-family: "Lato", "sans-serif";
    font-size: 14pt;
}

h1{
    font-family: "Play", "sans serif"    
}

li{
    line-height: 2em;
    list-style-type: square;
    font-family: "Open Sans", "sans-serif";
    font-size: 12pt;
}

#navbar {
    height: 54px;
    display: flex;
    vertical-align: middle;
}

.container {
    width: 60%;
    margin: auto;
	min-width: 1152px;
}

.nav_item {
    font-family: "Lato", "sans-serif";
    font-size: 11pt;
    display: inline-block;
    height: 46px;
    line-height: 50px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    border: 4px;
    transition: border-bottom .1s linear;
    color: #E0E0E0;
    background-color: #1F1E1C;
}

.nav_item:hover{
    border-bottom: 4px solid #E0E0E0;
    color: #E0E0E0;
}

input[type=radio]{
    display: none;
}


input[type=radio]:checked + label.nav_item {
  border-bottom: 4px solid #F87431;
} 

.nav_title {
    display:inline-block;
    flex: auto;
    line-height: 50px;
    font-family: "Play", "sans-serif";
    font-size: 24pt;
    
    color: #F87431;
}

#banner {
    height: 155px;
}

#main_content {
    position: relative;
    font-family: "Lato", "sans-serif";
    margin-top: 50px;
    min-height: 900px;
}

.feature_image {
    width: 40%;
    display: inline-block;
    height: 300px;
    background-image: url('images/video.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
}

#feature_summary {
    width: 60%;
    display: inline-block;
    height: 300px;
    
}

#feature_summary p{
    font-family: "Open Sans", "sans-serif";
    font-size: 12pt;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 40px;
    line-height: 1.7em
}

#feature_box {
    display: flex;
}

.feature_title {
    padding: 5px 0px 0px 5px;
    font-family: "Play";
    font-size: 20pt;
    color: #F87431;
}

.navbar_bg {
    position: absolute;
    background-color: #1F1E1C;
    width: 100vw;
    height: 50px;
    z-index: -1;
}

#buy_div {
    margin-top: 50px;
    position: relative;
    height: 100px
}

#buy_button {
    position: absolute;
    right: 50px;
    
}


#buy_price {
    font-weight: bold;
    font-size: 20pt;
    font-family: "Play";
    text-align: right;
    padding-bottom: 15px;
    margin-right: 50px;
}


#footer {
    font-size: 12pt;
    margin-top: 150px;
}

#question_box {
    font-family: "Open Sans", "sans serif";
}

#question_box h4{
    color: #F87431;
    font-size: 14pt;
}

#question_box h4:hover{
    cursor: pointer;
}

#question_box p{
    text-indent: 50px;
    font-family: "Open Sans", "sans serif";
    font-size: 12pt;
    display: none;
}

.user {
    font-size: 14pt;
    font-family: "Lato", "sans serif";
}

.review {
    text-indent: 15px;
    font-family: "Open Sans", "sans serif";
	font-size: 12pt;
}

#paging {
    position: absolute;
    bottom: 0px;
    right: 0px;
}


#buy_window {
    position: fixed;
    width: 460px;
    height: 400px;
    top: 50%;
    left: 50%;
    background-color: #1F1E1C;
    padding: 0px 20px 0px 20px;
    margin-top: -200px;
    margin-left: -250px;
    
    border: 2px solid white;
    visibility: hidden;
}

#buy_window input[type='number']{
    width: 30px;
}

#checkout {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.button{
    display: inline-block;
    padding: 10px;
    font-family: "Play";
    font-size: 14pt;
    background-color: #ad5122;
    cursor: pointer;
    height: 20px;
	text-shadow: 2px 2px #000;
	font-weight: bold;
}

.button:hover{
    background-color: #F87431;
}

#close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
}

#close:hover{
    cursor: pointer;
}

#cart {
    padding: 0px 5px 0px 5px;
    line-height: 50px;
    height: 50px;
    font-family: "Lato", "sans-serif";
    font-size: 11pt;
    margin-right: 5px;
    transition: background-color .1s linear;
}

#cart:hover {
    cursor: pointer;
    background-color: #F87431;
        
}

#processing_text {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    visibility: hidden;
}

#footer_bar {
	width: 100vw;
	height: 30px;
	background-color: #1F1E1C;
}

#testimonials_container {
    position: relative;
    padding-bottom: 50px;
}

#infographic{
    width: 100%;
    height: 400px;
    background-color: #1f1e1c;
}

#info_container {
    width: 70%;
    height: 100%;
    background-color: white;
    float: left;
}

#info_desc {
    width: 30%;
    height: 100%;
    background-color: #1f1e1c;
    float: left;
}

#profile_navbar {
    width: 100%;
    height: 25px;
    background-color: rgb(31,30,28)
}

.profile_link {
    cursor: pointer;
    padding: 0px 5px 0px 5px;
    font-size: 12pt;    
}

input[type="radio"]:checked + label.profile_link{
    color: black;
    background-color: #F87431;
    color: white;
    text-shadow: 1px 1px #000;
}

.info_button {
    padding: 5px;
    border: 2px solid red;
    border-radius: 0px;
    color: black;
    font-size: 11pt;
    cursor: pointer;
    transition: border-radius .2s linear;
}

.info_button:hover{
    border-radius: 10px;
}

#info_image {
    position: relative;
}

#frame_button {
    position: absolute;
    bottom: 60px;
    left: 175px;
}

#camera_button {
    position: absolute;
    bottom: 60px;
    left: 385px;
}

#lens_button {
    position: absolute;
    bottom: 60px;
    right: 195px;
}

#battery_button {
    position: absolute;
    bottom: 100px;
    left: 305px;
    
}

#mode_button {
    position: absolute;
    top: 48px;
    right: 82px;
}

#capture_button {
    position: absolute;
    bottom: 65px;
    left: 127px;
}

#ID_button {
    position: absolute;
    top: 40px;
    right: 105px;
}

#led_button {
    position: absolute;
    top: 125px;
    left: 330px;
}

#power_button {
    position: absolute;
    bottom: 150px;
    left: 375px;
}

#usb_button {
    position: absolute;
    top: 50px;
    right: 295px;
}

#arm_button {
    position: absolute;
    bottom: 98px;
    right: 335px;
}

#et_button {
    position: absolute;
    bottom: 47px;
    right: 350px;
}

#spec_title {
    font-family: "Play", "sans-serif";
    font-size: 20pt;
    font-weight: normal;
    color: #F87431;
    margin-left: 15px;
}

#spec_info {
    margin-left: 15px;
    font-size: 12pt;
    margin-right: 15px;
}

#buy_button_nav {
    margin-top:5px
}
